/* ### MAIN CSS ### */

/* BASE ELEMENTS */

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

img {
    display: block;
}

h2 {
    font-weight: 900;
}

p {
    font-size: 1.05em;
    margin-top: 1em;
    margin-bottom: .25em;
}

.list li {
    list-style-type: square;
    margin: 5px 0px 5px 55px;
    font-size: 1.05em;
}

/* LINK STYLING*/

a {
    text-decoration: none;
    color: saddlebrown;
}

a:hover {
    color: turquoise;
}

a:visited {
    color: darkslategrey;
}

/* TOP NAVIGATION STYLING */

.main-header {
    background: black;
    padding-top: .15em;
    padding-bottom: .5em;
}

.main-nav {
    margin-top: 7px;
    overflow: hidden;
}

    .main-nav a {
        display: block;
        text-align:center;
        padding: 10px 15px;
        font-size: .95em;
        font-weight: 900;
        color: white;
    }

    .main-nav a:hover {
        color: turquoise;
    }
        .main-nav li {
        display: inline-block;
        margin-left: 15px;
    }


/* IMAGE AND IMAGE CAPTION STYLING*/

.main-img {
    position: relative;
    display: inline-block;
    width: 100%;
    opacity: .75;
}

h2 {
    position: static;
    top: 90%;
    left: 0%;
    transform: translate (-50%, -50%);
    width: 100%;
    color: white;
    letter-spacing: -.5px;
    background: black;
    text-align: center;
}

/* MAIN CONTAINER STYLING*/

.aboutUs, .waysToHelp {
    background-color:white;
    padding: 5px 25px 20px 50px;
    margin: 0 auto;
    }

/* MAIN FOOTER*/    
.main-footer {
    background: black;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px gray;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    }
    
/* MEDIA QUERIES*/

@media (min-wdith: 769px) {

    body {
        padding-top: 68px;

    }

    .main-header {
        position: fixed;
        background: black;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    .main-nav {
        float: right;
    }

    .main-nav li {
        display: block;
        margin-left: 15px;
    }


    .container {
        width: 90%;
        margin: 0 auto;
    }

    h2 {
        position: relative;
    }

    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }

    .aboutUs {
        max-width: 600px;  
        }
    
    .waysToHelp {
        max-width: 600px;
        }
}

